{
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }],
    "react-loadable/babel",
    "relay",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-runtime"
  ]
}
