{
  "presets": [
    ["env", { "targets": { "node": 6 } }],
    "react",
    "stage-3"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }],
    "babel-plugin-lodash",
    "dynamic-import-node",
    "relay",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-runtime"
  ]
}
