{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
    ["relay", {"schema": "../graphql/metaphysics/data/schema.graphql"}],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }],
    "transform-class-properties"
  ]
}
